.button {
  border: none;
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: var(--space-default);
  border-radius: 4px;
  width: 100%;
}

.button:not(:last-child) {
  margin-bottom: var(--space-default);
}
