:root {
  --color-primary: #232f3e;
  --color-light: #fff;
  --color-danger: #e47911;
  --color-secondary: #dfdfdf;
  --space-default: 1.1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
